In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
# Convert categorical data to numeric and separate target feature for training data
train_df_preprocess = pd.get_dummies(train_df)
train_df_preprocess.head()
train_target = train_df_preprocess.pop("loan_status_low_risk")
train_df_preprocess.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_high_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,1,1,0,1,0,1,0

In [4]:
# Convert categorical data to numeric and separate target feature for testing data
test_df_preprocess = pd.get_dummies(test_df)
test_df_preprocess.head()
test_target = test_df_preprocess.pop("loan_status_low_risk")

In [5]:
# add missing dummy variables to testing set
new_df_test = pd.DataFrame()
new_df_train = pd.DataFrame()

for i in test_df_preprocess.columns:
    if i in train_df_preprocess.columns:
        new_df_test[i] = test_df_preprocess[i]
        new_df_train[i] = train_df_preprocess[i]

Items in trianing but not testing: [train_df_preprocess]

In [6]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [7]:
# Train a Random Forest Classifier model and print the model score
# classifier.fit(new_df_train, new_df_test)
classifier = LogisticRegression(max_iter=20000)
classifier.fit(rX, ry)

NameError: name 'rX' is not defined

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score